.app:before {
    top: 0;
    bottom: 0;
    background-color: #F4F6F8 100%;
    border: inherit;
    /* background-image: url('../../assets/img/city.png'); */
    content: '';
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    /* opacity: 0.02; */
    width: 100%;
    height: 100%;
    color: #fff;
    background-position: 0px;
}
.app-header-fixed {
    padding-top: 50px;
    background: #fff !important;
}
.w-auto-xs {
    position: relative;
    z-index: 1000;
}

p.para {
    margin-top: 10%;
    font-size:  25px;
    color: #fff;
    text-transform:  uppercase;
    text-align:  center;
}

.logo {
    text-align:  center;
}
/* .resetPasswordForm {
    padding: 10%;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #ccccccc7;
} */
.col6{
    padding: 0 10% !important;
}

.inputtext{
	font-family: FontAwesome;
}
input {
    padding: 0px 10px !important;
    border: 1px solid #979797 !important;
    border-radius: 5px;
}
ext::-webkit-input-placeholder { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: gray;
  }
  .list-group-sm .list-group-item {
    padding: 0px !important;
    border-radius: 5px !important;
}
.list-group.list-group-sm p {
    margin: 0 0 5px !important;
}
small {
    position: relative;
    top: 2px;
}

@media only screen and (min-width: 992px) {
    .backbutton{
        width: 25% !important;
        position: relative;
        right: 20px;
        bottom: 20px;
    }
}
@media only screen and (max-width: 991px) {
    .backbutton{
        width: 50% !important;
        position: relative;
        right: 20px;
        bottom: 10px;
    }
}
.password
{
    color: #fff;
    font-weight: 600;
    background: #02334e;
}
.line
{
    border-left:2px solid  #979797;
    height:500px;
}
.hand
{
    
    font-size: 25px;
    color:#E73B1D;
}
.back

{
    padding-top:25px;
}
.home
{
    color:#E73B1D;
    font-weight:700;
}
.line{
    border-left: 1px solid gray;
}