<!-- main -->
<div class="col">
  <!-- / main header -->
  <div class="wrapper-md" ng-controller="FlotChartDemoCtrl">
    <!-- stats -->

    <div class="panel hbox hbox-auto-xs no-border">
      <div class="col wrapper">
        <div class="row mt-5">
          <div class="col-md-12 nopadding card">
            <div class="row mt-3 mb-3">
            <div class="col-md-2 nopadding" style="border-right:1px solid #979797;height:250px;padding: 0px;">
                <button type="button" class="btn  password pull-right">  Change Password
                </button>
            </div>
            <div class="col-md-3 " *ngIf="show=='true'" >
                <div class="changepasswordForm " >
                  <form [formGroup]="changepasswordForm" (ngSubmit)="onFormSubmit()">
                    <div class="list-group list-group-sm mt-3">
                      <p class="text-left text-black">Enter New Password</p>
                      <div class="list-group-item">
                        <input type="password" placeholder="&#xf11c;" class="form-control no-border inputtext" formControlName="password"
                          maxlength="50">
                      </div>
                      <small *ngIf="!changepasswordForm.controls['password'].valid && changepasswordForm.controls['password'].touched" style="color:red;">
                        New password is reqiured. </small>
                    </div>
                    <div class="list-group list-group-sm">
                        <p class="text-left text-black">Confirm Password</p>
                        <div class="list-group-item">
                          <input type="password" placeholder="&#xf11c;" class="form-control no-border inputtext" formControlName="cpassword"
                            maxlength="50">
                        </div>
                        <small *ngIf="!changepasswordForm.controls['cpassword'].valid && changepasswordForm.controls['cpassword'].touched" style="color:red;">Confirm Password is reqiured.</small>
                        <br>
                        <small class="text-danger"><b>{{errormsg}}</b></small>
                      </div>
                    
                    <div class="text-center">
                      <button type="submit" class="btn btn-sm btn-primary btn-sm" style="background: #03344f;border: none;">Change Password</button>
                    </div>
                  </form>
                  </div>
            </div>
            <div class="col-md-6" *ngIf="show=='false' ">
                    
                    <a>
                      <i class="fa fa-thumbs-up hand">
                      </i>&nbsp;&nbsp;New Password Changed Successfully
                      </a>
                      
                      <div class="row back">
                          <button type="submit" class="btn  home">Back To Home </button>
                        </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- / stats -->